html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
strong, b {
    font-weight: bold;
}
em, i {
    font-style: italic;
}
a img {
    border: none;
}
/* END RESET*/

.canvas-div {
    cursor: crosshair;
    margin-bottom: 35px;
}

#header {
    height: 50px;
}

.timeline {
    position: relative;
}

.infoBox {
    position: absolute;
    background-color: white;
    border-style: solid;
    border-width: 5px;
}

.infoBox-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/**
 * Pattern view
 */

.pattern-view-root {
}

.all-pattern-shape-container {
    float: left;
    height: 100vh;
    overflow: scroll;
    width: 50%;
}

.filtered-pattern-shape-container {
    float: right;
    width: 50%
}

.filtered-pattern-tool-bar {
    display: flex;
    font-size: 0.8em;
}

.filtered-pattern-search-bar {
    align-items: center;
    display: flex;
    height: 5vh;
}

.filtered-pattern-search-id {
    margin-left: 25px;
    width: 60px;
}

.filtered-pattern-search-distance {
    margin-left: 25px;
    width: 60px;
}

.filtered-pattern-search-submit {
    background-color: lightgrey;
    height: 25px;
    margin-left: 20px;
}

.filtered-pattern-search-results-container {
    height: 95vh;
    overflow: scroll;
}

.pattern-shape-container {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.pattern-shape-label {
    font-size: 0.8em;
    min-width: 50px;
}

.filtered-pattern-distance-search {
    align-items: center;
    display: flex;
}

.filtered-pattern-distance-search-pattern-1 {
    margin-left: 25px;
    width: 60px;
}

.filtered-pattern-distance-search-pattern-2 {
    margin-left: 25px;
    width: 60px;
}

.filtered-pattern-distance {
    margin-left: 25px;
    width: 25px;
}

.filtered-pattern-distance-search-submit {
    background-color: lightgrey;
    height: 25px;
    margin-left: 20px;
}


/*body {
  font-family: "sans-serif";
}

#header {
  height: 165px;
  width: 100vw;
}

#filenameHeader {
  float: left;
  padding: 3rem;
  font-size: 4rem;
}

#mainRenderContainer {
  float: left;
  margin-left: 20px;
}

.hoverInfoBar {
  position: absolute;
  display: none;
  z-index: 10;
  pointer-events: none;
	height: 20px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  background-color: white;
  text-align: center;
}

.rendererLayerCanvas {
  cursor: crosshair;
}*/
